body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #be8dd8;
  color: #333;
}


header {
  background-color: #8c5aba;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}
.cuadro {
  background-color: #f3e5f5;
  border-left: 5px solid #b388eb;
  padding: 20px;
  border-radius: 8px;
}
nav {
  background-color: rgba(189, 84, 233, 0.1);
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
button, nav ul li a {
  transition: all 0.3s ease;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}


section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}
.iconos{
  
  font-size: 45px;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}